body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 16px;
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 1px;
    min-width: 46px;
    box-shadow: 3px 3px 3px lightgrey;
    border: 1px solid grey;
    border-radius: 3px;
}

.display {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    width: 376px;
}

.operators button {
    background-color: lightgrey;
}

#equals, #backspace, #clear {
    background-color: darkgrey;
}